checkpoints/foggy/*.pth
checkpoints/mix/*.pth
checkpoints/rainy/*.pth
checkpoints/snowy/*.pth
checkpoints/weather/*.pth

data/foggy/*.jpg
data/original/*.jpg
data/rainy/*.jpg
data/snowy/*.jpg

test.py